.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.tl
Tests/Apps/Apps.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
__pycache__/